.loading {
	color: white;;
}

.loading-panel {
	display: flex;
	position: fixed;
    width: 100%;
	bottom: 0;
	align-items: center;
	justify-content: center;
	z-index: 3; 
	background-color: rgba(0, 0, 0, .6);
}

.animate {
  animation: animate 2s ease infinite;
}
@keyframes animate {
  0% { transform: translateX(0%); }
  15% { transform: translateX(-25%) rotate(-12deg); }
  30% { transform: translateX(20%) rotate(7deg); }
  75% { transform: translateX(-15%) rotate(-7deg); }
  60% { transform: translateX(10%) rotate(4deg); }
  75% { transform: translateX(-5%) rotate(-1deg); }
  100% { transform: translateX(0%); }
}